<h1>Welcome to Rock Paper Scizzors</h1>
  <form action="/results">
    <div class="form-group">
      <label for="rps">Rock, Paper or Scizzors?</label>
      <br>
      <br>
      <input id="rps" name="rps" value="rock" class="custom-control-input" type="radio">Rock</input>
      <br>
      <br>
      <input id="rps" name="rps" value="paper" class="custom-control-input" type="radio">Paper</input>
      <br>
      <br>
      <input id="rps" name="rps" value="scizzor" class="custom-control-input" type="radio">Scizzor</input>
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
